body {
	background-color: var(--white);
}

html.dark {
	& .wrapper {
		&::before {
			opacity: 1;
		}
	}
}

.wrapper {
	position: relative;
	background: var(--white);
	isolation: isolate;
	&::before {
		content: "";
		position: fixed;
		inset: 0;
		width: 100%;
		height: 100%;
		background-image: url("/images/noise.png"), var(--page-gradient);
		background-blend-mode: soft-light;
		z-index: -1;
		transition: opacity 0.5s;
		opacity: 0;
		pointer-events: none;
	}
	@media screen and (max-width: 1024px) {
		overflow: clip;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--bg-bg-dark);
	transition: color $time * 2;
}
h1, h2, h3, h4 {
	font-weight: 400;
	font-family: var(--second-family);
}
h1 {
	font-size: 280px;
	line-height: 1;
	@media screen and (max-width: $xl) {
		font-size: 48px;
	}
}
h2 {
	font-size: 100px;
	line-height: 1;
	@media screen and (max-width: $xl) {
		font-size: 36px;
	}
}
h3 {
	font-size: 72px;
	line-height: 1;
	@media screen and (max-width: $xl) {
		font-size: 20px;
	}
}
h4 {
	font-size: 42px;
	line-height: 140%;
	letter-spacing: 0.04em;
	@media screen and (max-width: $xl) {
		font-size: 18px;
	}
}
h5 {
	font-weight: 700;
	font-size: 32px;
	line-height: 110%;
	@media screen and (max-width: $xl) {
		font-size: 16px;
	}
}
h6 {
	font-size: 24px;
	line-height: 110%;
	@media screen and (max-width: $xl) {
		font-size: 16px;
	}
}

.section-title {
	color: var(--bg-bg-dark);
	& span {
		transition: color $time * 2;
	}
}
.title-sm {
	@media screen and (max-width: $xl) {
		font-size: 36px;
		line-height: 36px;
	}
	& span {
		color: #eb2e44;
	}
}

.main-autopark .title-sm {
	& span {
		color: var(--bg-red-title);
	}
}

.ibg {
	position: relative;
	& img,
	& iframe,
	& video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.slider-controls {
	display: flex;
	align-items: center;
	gap: 14px;
	@media screen and (max-width: $xl) {
		justify-content: flex-end;
	}
}
.slider-button {
	width: 72px;
	height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
	transition: background-color $time, fill $time;
	& svg {
		width: 100%;
		height: 100%;
	}
	@media screen and (max-width: $md) {
		width: 54px;
		height: 54px;
	}
	&.swiper-button-disabled {
		pointer-events: none;
		cursor: default;
		& svg path {
			fill: #b0b4bc;
		}
		.controls-white & {
			background-color: rgba(255, 255, 255, 0.5);
			pointer-events: none;
		}
	}
	& svg path {
		transition: fill $time;
		fill: var(--bg-bg-dark);
	}
	@media (any-hover: hover) {
		&:hover {
			& svg path {
				fill: var(--button-hover-dark);
			}
			.controls-white & svg path {
				fill: var(--bg-bg-grey-dark);
			}
		}
		&.swiper-button-disabled:hover {
			& svg path {
				fill: #b0b4bc;
			}
		}
		&:active {
			& svg path {
				fill: var(--button-active-dark);
			}
			.controls-white & svg path {
				fill: #d8dbe2;
			}
		}
	}
}

// .text-link {
// 	border-bottom: 1px solid currentColor;
// 	@media (any-hover: hover) {
// 		&:hover {
// 			color: #1941a5;
// 		}
// 		&:active {
// 			border-color: transparent;
// 		}
// 	}
// 	&:visited {
// 		border-color: transparent;
// 	}
// }

.text-link {
	color: var(--white);
	border-bottom: 1px solid currentColor;
	transition: color $time, border-color $time;
	@media (any-hover: hover) {
		&:hover {
			color: var(--text-link-white-hover);
		}
		&:active {
			border-color: transparent;
		}
	}
}

.error-message {
	color: var(--bg-bg-red);
	padding: 0 16px;
}
.form-item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 4px;
	&__field {
		position: relative;
		border-bottom: 1px solid rgba(var(--bg-bg-white-rgb), 0.5);
		&::before {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 0px;
			height: 1px;
			background-color: var(--bg-bg-white);
			transition: width $time * 2;
			z-index: 2;
		}
		&.focus {
			&::before {
				width: 100%;
			}
		}
		.popup & {
			border-bottom: 1px solid rgba(#7f8284, 0.5);
			&::before {
				background-color: #7f8284;
			}
		}
	}
	&__timelines {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 42px;
		margin-top: 14px;
	}
	&.error {
		& .form-item__field {
			border-bottom: 1px solid var(--bg-bg-red);
			&::before {
				background-color: var(--bg-bg-red);
			}
		}
	}
}
.form-input {
	min-height: 50px;
	width: 100%;
	padding: 16px;
	font-size: 16px;
	line-height: 18px;
	color: var(--bg-bg-white);
	background-color: transparent;
	&::placeholder {
		font-size: 16px;
		color: rgba(var(--bg-bg-white-rgb), 0.5);
		line-height: 18px;
	}
	.popup & {
		color: var(--text-text-secondary);
		&::placeholder {
			color: rgba(var(--text-text-secondary-rgb), .5);
		}
	}
	@media screen and (max-width: $xl) {
		min-height: 53px;
	}
}

.form-text {
	font-size: 16px;
	line-height: 18px;
	color: rgba(var(--text-text-secondary-rgb), .5);
	padding: 0 16px;
}

.page-gradient {
	overflow: hidden;
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100vh;
	min-height: 100%;
	background: url('/images/noise.png');
	// background-repeat: no-repeat;
	// background-position: center;
	background-size: cover;
	// background-blend-mode: soft-light;
	// z-index: -1;
	opacity: 0;
	// &::before,
	// &::after {
	// 	content: "";
	// 	position: absolute;
	// 	inset: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	pointer-events: none;
	// 	opacity: 1;
	// 	transition: opacity 1s ease 0s;
	// }
	// &::after {
	// 	background-image: url('/images/noise.png');
	// 	background-repeat: no-repeat;
	// 	background-position: center;
	// 	background-size: cover;
	// 	// z-index: 1;
	// }
	// &::before {
	// 	background: linear-gradient(90deg, #b7d8e9 0%, #255cae 100%);
	// 	mix-blend-mode: overlay;
	// 	z-index: 1;
	// }
}

picture {
	display: flex;
	align-items: center;
}