@font-face {
	font-family: 'PT Root UI';
	src: url('/fonts/PTRootUI-Medium.eot');
	src: url('/fonts/PTRootUI-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/PTRootUI-Medium.woff2') format('woff2'),
		url('/fonts/PTRootUI-Medium.woff') format('woff'),
		url('/fonts/PTRootUI-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('/fonts/PTRootUI-Regular.eot');
	src: url('/fonts/PTRootUI-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/PTRootUI-Regular.woff2') format('woff2'),
		url('/fonts/PTRootUI-Regular.woff') format('woff'),
		url('/fonts/PTRootUI-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('/fonts/PTRootUI-Bold.eot');
	src: url('/fonts/PTRootUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/PTRootUI-Bold.woff2') format('woff2'),
		url('/fonts/PTRootUI-Bold.woff') format('woff'),
		url('/fonts/PTRootUI-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bebas Neue Cyrillic';
	src: url('/fonts/BebasNeueCyrillic.eot');
	src: url('/fonts/BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/BebasNeueCyrillic.woff2') format('woff2'),
		url('/fonts/BebasNeueCyrillic.woff') format('woff'),
		url('/fonts/BebasNeueCyrillic.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}